{% extends 'base.html.twig' %}

{% block title %}☁{% endblock %}

{% block stylesheets %}
    <style>
        .cloud-icon {
            font-size: 5em;
            display: inline-block;
        }
        h1 {
            color: #fff;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Run it in clouds</h1>
    <p class="cloud-icon">☁</p>
{% endblock %}
